body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

h1 {
    font-family: 'Fraunces', serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*the backdrop contains the image as well as the information about the product*/
.con{
    display: block;
    background-color: darkgoldenrod;
    position: relative;
}

/* .info-con{
    background-color: cadetblue;
    border-radius: 25px;
    height: 500px;
    width: 500px;
    position: sticky;
} */

/*resize image to cater for responsive page - check for correct specs to work with responsive pages*/

.desktop-img{
    display: none;
}

@media screen and (min-width: 500px) {
    .desktop-img{
        display: block;
    }

    .mobile-img{
        display: none;
    }
}



