body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-con {
    background-color: darkgoldenrod;
    max-width: 1000px;
    display: flex;
}

.main-con > img-con {
    width: 50%;
}

img {
    width: 50vh;
}

/*.img3 {
    display: none;
}*/

.img2 {
    display: none;
}

@media screen and (min-width: 500px) {
    .img2 {
        display: block;
    }

    .img3 {
        display: none;
    }

    .info-con {
        
    }
}

h1 {
    font-family: 'Fraunces', serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.price-cut {
    text-decoration: line-through;
}

.price {
    color: #0f9e76;
}

.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    background: #0f9e76;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: max-content;
}

.btn:hover {
    background: #005e43;
    text-decoration: none;
}